// colors

$sidebar-color: #01134e;
$secondary-color: #0ad69c;
$name-color: #01134e;
$border-color: #edf0f4;

// sizes

$header-img-size: 22px;
$main-logo-size: 35px;
$sidebar-number-size: 19px;
$main-avatar-size: 50px;
$loop-size: 15px;
$small-img-size: 36px;
$smile-size: 18px;

//time 

$transition-duration: 0.4s;
